<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PuncakLur.Properties.Settings.suwantingConnectionString"
            connectionString="Data Source=DESKTOP-1FS5FJ6\GIANT;Initial Catalog=suwanting;Persist Security Info=True;User ID=sa;Password=sonyaangela"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>